@import '../../styles/colours';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $app-footer-background-colour;
  color: $app-footer-font-colour;
  font-size: 12px;
  padding: 10px;
}
