@import './colours';

body {
  padding-top: 5rem;
}

.about__applications-section {
  list-style-type: none;
  padding: 20px;
}

.about__application {
  padding: 20px;
}

.application__link {
  margin-right: 15px;
}

.about__application--header {
  background-color: $app-header-background-colour;
  color: $app-header-font-colour;
  a,
  a:hover {
    color: $app-header-font-colour;
  }
}

.about__application--footer {
  background-color: $app-footer-background-colour;
  color: $app-footer-font-colour;
  a,
  a:hover {
    color: $app-footer-font-colour;
  }
}

.about__application--product {
  background-color: $app-product-background-colour;
}

.about__application--checkout {
  background-color: $app-checkout-background-colour;
}

.error {
  color: red;
}
