$app-product-background-colour: #bdeaee;

$app-checkout-background-colour: #76b4bd;

$app-footer-background-colour: #58668b;
$app-footer-font-colour: #ebf4f6;

$app-header-background-colour: #5e5656;
$app-header-font-colour: #ebf4f6;
