@import '../../styles/colours';

.header-container .navbar {
  background: $app-header-background-colour;
  color: $app-header-font-colour;
}

.header-container .nav-item .nav-link {
  color: $app-header-font-colour;
}

.header-container .nav-item.active .nav-link {
  color: #76b4bd;
}
